ASSIGNMENT_1
ABDUL AZIZ(21BCE8621)

QUESTIONS:

Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

Task - 3 Find the descriptive statistics of the 'df' dataframe.

Task - 4 Check for the null values in 'df' and find the data type of the columns.

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
import pandas as pd
import numpy as np

# Task 1
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

# Task 2
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

# Task 3
descriptive_stats = df.describe()

# Task 4
null_values = df.isnull().sum()
data_types = df.dtypes

# Task 5
random_value_2_loc = df.loc[:, 'Random value 2']
random_value_3_loc = df.loc[:, 'Random value 3']
random_value_2_idx = df.iloc[:, 1]
random_value_3_idx = df.iloc[:, 2]

print("Task 1 - DataFrame 'df':")
print(df)

print("\nTask 2 - Column names after renaming:")
print(df.columns)

print("\nTask 3 - Descriptive statistics of 'df':")
print(descriptive_stats)

print("\nTask 4 - Null values and data types:")
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

print("\nTask 5 - 'Random value 2' & 'Random value 3' columns:")
print("Using .loc method:")
print(random_value_2_loc)
print(random_value_3_loc)
print("\nUsing iloc index location method:")
print(random_value_2_idx)
print(random_value_3_idx)

Task 1 - DataFrame 'df':
   Random value 1  Random value 2  Random value 3  Random value 4
0        0.876658        0.092473        0.789077        0.359285
1        0.133136        0.271642        0.067863        0.734796
2        0.417395        0.686414        0.279975        0.572773
3        0.275918        0.002448        0.985313        0.899331

Task 2 - Column names after renaming:
Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

Task 3 - Descriptive statistics of 'df':
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.425777        0.263244        0.530557        0.641546
std          0.322212        0.303491        0.428374        0.230615
min          0.133136        0.002448        0.067863        0.359285
25%          0.240222        0.069967        0.226947        0.519401
50%          0.346656        0.182057        0.534526        0.653784
75%          0.532211        0.375335        0.838136        0.775930
max          0.876658        0.686414        0.985313        0.899331

Task 4 - Null values and data types:
Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task 5 - 'Random value 2' & 'Random value 3' columns:
Using .loc method:
0    0.092473
1    0.271642
2    0.686414
3    0.002448
Name: Random value 2, dtype: float64
0    0.789077
1    0.067863
2    0.279975
3    0.985313
Name: Random value 3, dtype: float64

Using iloc index location method:
0    0.092473
1    0.271642
2    0.686414
3    0.002448
Name: Random value 2, dtype: float64
0    0.789077
1    0.067863
2    0.279975
3    0.985313
Name: Random value 3, dtype: float64

QUESTIONS:

Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

Task- 2 Check the info of 'df'

Task 3- Check the descriptive statistics of 'df'

Task 4- check the 4th index observation with 'loc' slicing operator.

Task 5 - Check the null values in your 'df'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Task 1
data = {
    'Feature1': np.random.rand(10),
    'Feature2': np.random.randint(0,50,10),
    'Feature3': np.random.choice(['A','B','C'],10),
    'Feature4': np.random.randn(10),
    'Feature5': np.random.uniform(1,10,10)
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
# Task 2
print('Info of "df": ')
print(df.info())

Info of "df":
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     float64
 1   Feature2  10 non-null     int64
 2   Feature3  10 non-null     object
 3   Feature4  10 non-null     float64
 4   Feature5  10 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 528.0+ bytes
None

In [ ]:
# Task 3
print('Descriptive Statistics of "df": ')
print(df.describe())

Descriptive Statistics of "df":
        Feature1   Feature2   Feature4   Feature5
count  10.000000  10.000000  10.000000  10.000000
mean    0.343218  27.800000   0.074052   5.662148
std     0.165152  15.098197   1.452726   2.129843
min     0.034294   3.000000  -2.049847   2.564008
25%     0.236116  17.000000  -0.709041   3.938735
50%     0.362306  32.000000   0.039653   5.448664
75%     0.426300  40.000000   1.041987   7.549080
max     0.634779  46.000000   2.438998   8.906674

In [ ]:
# Task 4
print("4th Index observation with 'loc' slicing Operator: ")
print(df.loc[2])

4th Index observation with 'loc' slicing Operator:
Feature1    0.431241
Feature2          34
Feature3           B
Feature4    1.712635
Feature5    3.526221
Name: 2, dtype: object

In [ ]:
# Task 5
print(" Null Values in 'df':" )
print(df.isnull().sum())

 Null Values in 'df':
Feature1    0
Feature2    0
Feature3    0
Feature4    0
Feature5    0
dtype: int64